@mixin vertical-align {
	position: relative;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

html {
	background-color: #D8D8D8;
	height:100%;
}

body {
	margin: 0 auto;
	height: 100%;
	background-color: #D8D8D8;
	display: flex;
	flex-direction: row;
}

img { max-width: 100% }

ul { 
	list-style-type: none;
	padding: 0;
}
li {
	margin: 0;
	padding: 0;
	list-style: none;
	display: inline-block;
}

#topbar {
	width: 100%;
	height: 2.5em;
	line-height: 2.5em;
	background-color: #4E4E4E;
	position: absolute;
	.menu {
		font-size: 1.25em;
		padding-left: 0.5em;
		color: #D8D8D8;
	}
}

#nav {
	display: none;

	width: 28%;
	max-width: 360px;
	min-width: 170px;

	border-right: 3px solid #C76256;
	box-sizing: border-box;

	flex-shrink: 0;

	height: 100%;
	margin:0;
	background: #4E4E4E;

	float: left;

	> .nav-item {
		box-sizing: border-box;

		width: 100%;
		height: 15%;

		vertical-align: middle;

		text-align: center;

		div {
			@include vertical-align;
			color: #D8D8D8;
			vertical-align: sub;
			font-size: 1.2em;
			font-family: 'Josefin Sans', sans-serif;
			font-style: italic;
		}

		&.title {
			width: 100%;
			height: 20%;
			> div { 
				font-weight: bold;
				font-style: normal;
			}
		}
		&.selected {
			background-color: #C76256;
		}
	}
}

#main {
	height: 100%;
	flex-grow: 100;
	& > div {
		height: 100%;
		width: 100%;
		display: table;
		position: relative;
	}
}

.content {
	display: table-cell;
	vertical-align: middle;
	padding-left: 10%;
	padding-right: 10%;

	text-align: justify;
	color: #4E4E4E;
}

@media all and (min-width: 600px) {
	#topbar {
		display: none;
	}

	#nav {
		display: block;
		> .nav-item {

			&.title {
				margin-left: 0;

				> div {
					font-size: 1.2em;
				}
			}
		}
	}
}